<html>
	<head>
		<title>test</title>
		<meta charset="utf-8" />
    	<link href="/css/style.css" rel="Stylesheet" type="text/css" />
    	<script src="http://code.jquery.com/jquery-1.9.0.js"> </script>
    	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"> </script>
		<script src="/scripts/pf-grid.js"> </script>
	</head>
	<body onload="init()">
    	<div id="main_grid" class="grid"></div>
    	<div id="grid_-1_-1" class="cell holding_area"> </div>

    	<div id="controls">
    		<input type="text" id="entity_name"/><button onclick="sendCreateRequest($('#entity_name').val())">Create Unit</button> <br />
    		<button onclick="updatePositions()">Update</button>
    	</div>
	</body>
</html>